body {
  height: 100%;
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: #000c28;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include response(1200px) {
    ::-webkit-scrollbar {
      display: none;
    }
  }
}

.wrapper {
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  flex: 1 1 auto;
  padding-top: 140px;
}

.container {
  position: relative;
  max-width: 1380px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
// {
//   max-height: 40px;
//   overflow: hidden;
//   -webkit-line-clamp: 2;
//   display: box;
//   display: -webkit-box;
//   -webkit-box-orient: vertical;
// }

* {
  outline: none;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}
