.benefits {
  position: relative;
  background: #000c28;
  padding-top: 100px;
  padding-bottom: 100px;
  @include response(1200px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  &__decor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &__head {
    position: relative;
    margin-bottom: 80px;
    @include response(1200px) {
      margin-bottom: 48px;
    }
  }
  &__label {
    position: relative;
  }
  &__title {
    max-width: 400px;
    &.title {
      color: #fff;
    }
  }
  &__descriptions {
    font-weight: 600;
    font-size: 24px;
    line-height: 135%;
    color: #f3c934;
    max-width: 480px;
    margin-bottom: 25px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    color: #fff;
    max-width: 480px;
    p {
      margin: 0;
    }
  }
  &__body {
    position: relative;
  }
}
