.blog {
  position: relative;
  padding-bottom: 100px;
  @include response(1200px) {
    padding-bottom: 48px;
  }
  &__head {
    position: relative;
  }
  &__head-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &__head-label {
    padding-top: 57px;
    @include response(1200px) {
      padding-top: 32px;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    > img {
      margin-left: 4px;
      flex: 0 0 42px;
      border-radius: 5px;
    }
    &.title {
      color: #fff;
      margin-bottom: 57px;
      @include response(1200px) {
        margin-bottom: 32px;
      }
    }
  }
  &__body {
    position: relative;
  }
  &__list {
    position: relative;
    margin-left: -60px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    @include response(1200px) {
      margin-left: -30px;
      margin-bottom: 8px;
    }
  }
  &__item {
    position: relative;
    flex: 0 0 calc(33.333% - 60px);
    max-width: calc(33.333% - 60px);
    width: 100%;
    margin-left: 60px;
    margin-bottom: 40px;
    background: #fff;
    border: 1px solid #cccdd2;
    box-shadow: 5px 10px 40px rgba(0, 12, 40, 0.1);
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    @include response-min(1201px) {
      transition: 0.3s ease-in-out;
    }
    @include response(1200px) {
      flex: 0 0 calc(50% - 30px);
      max-width: calc(50% - 30px);
      margin-left: 30px;
      margin-bottom: 32px;
    }
    @include response(767px) {
      flex: 0 0 calc(100% - 30px);
      max-width: calc(100% - 30px);
    }
    @include desktop-hover() {
      box-shadow: 5px 10px 40px rgba(0, 12, 40, 0.2);
    }
  }
  &__item-img {
    position: relative;
    img {
      width: 100%;
    }
  }
  &__item-body {
    position: relative;
    padding: 20px;
  }
  &__item-info {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &__item-category {
    position: relative;
    display: flex;
    align-items: center;
    background: #eaf0f7;
    box-shadow: 5px 5px 20px rgba(253, 186, 95, 0.25);
    border-radius: 5px;
    overflow: hidden;
    flex: 0 0 auto;
    margin-right: 10px;
  }
  &__item-category-title {
    position: relative;
    padding: 1px 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 155%;
    color: #000c28;
    .blog__item-category--white & {
      background: #fff;
    }
  }
  &__item-category-list {
    position: relative;
    display: flex;
  }
  &__item-category-item {
    position: relative;
    flex: 0 0 25px;
  }
  &__item-date {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 155%;
    color: #7f838e;
  }
  &__item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #011955;
    max-height: 48px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    @include response(1200px) {
      max-height: 72px;
      -webkit-line-clamp: 3;
    }
  }
}
