.footer {
  position: relative;
  background: #000c28;
  padding-top: 100px;
  padding-bottom: 50px;
  overflow: hidden;
  @include response(1200px) {
    padding: 32px 16px;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__container {
    position: relative;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto 80px;
    display: flex;
    justify-content: space-between;
    @include response(1200px) {
      margin-bottom: 8px;
      flex-direction: column-reverse;
    }
  }
  &__nav {
    position: relative;
    flex: 1 1 auto;
  }
  &__nav-list {
    list-style: none;
    padding: 0;
    margin: 0 -40px 0 0;
    display: flex;
    @include response(1200px) {
      flex-wrap: wrap;
    }
    > li {
      flex: 0 0 calc(25% - 40px);
      max-width: calc(25% - 40px);
      width: 100%;
      margin-right: 40px;
      @include response(1200px) {
        flex: 0 0 calc(50% - 40px);
        max-width: calc(50% - 40px);
        margin-bottom: 40px;
      }
      > a,
      > span {
        display: block;
        text-decoration: none;
        padding-bottom: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 155%;
        color: #fff;
        position: relative;
        margin-bottom: 25px;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 120px;
          height: 3px;
          background: #f3c934;
        }
        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 3px;
          background: #fff;
          bottom: 0;
          left: 120px;
        }
      }
      > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          position: relative;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        a {
          display: inline-block;
          vertical-align: top;
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
          line-height: 155%;
          color: #fff;
          transition: 0.3s ease-in-out;
          @include desktop-hover() {
            color: #f3c934;
          }
        }
      }
    }
  }
  &__logo-box {
    flex: 0 0 168px;
    max-width: 168px;
    width: 100%;
    margin-left: 33px;
    @include response(1200px) {
      margin-bottom: 32px;
      margin-left: 0;
      flex: 0 0 auto;
    }
  }
  &__logo {
    position: relative;
    margin-bottom: 20px;
    @include response(1200px) {
      margin-bottom: 25px;
    }
  }
  &__logo-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__logo-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    text-align: right;
    color: #fff;
    span {
      color: #f3c934;
    }
  }
  &__bottom {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 155%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    @include response(1200px) {
      display: block;
      padding-left: 0;
      padding-right: 0;
      text-align: left;
    }
  }
  &__bottom-title {
    color: #fff;
    margin-right: 4px;
    span {
      color: #f3c934;
    }
  }
  &__bottom-text {
    color: #7f838e;
  }
}
