.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(#7f838e, 0.2);
  @include response(1200px) {
    border-bottom: 0;
  }
  &__top {
    position: relative;
    background: #000c28;
    padding-top: 15px;
    padding-bottom: 15px;
    @include response(1200px) {
      padding-top: 19px;
      padding-bottom: 19px;
    }
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1380px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include response(1400px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  &__top-left {
    position: relative;
    flex: 0 0 auto;
  }
  &__logo {
    position: relative;
  }
  &__logo-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__top-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 auto;
    @include response(1200px) {
      display: block;
    }
  }
  &__info {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    @include response(1200px) {
      display: block;
      margin-bottom: 30px;
    }
  }
  &__info-cell {
    position: relative;
    flex: 0 0 auto;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid rgba(#7f838e, 0.2);
    @include response(1200px) {
      margin-right: 0;
      border-right: 0;
      border-bottom: 1px solid rgba(#7f838e, 0.2);
      text-align: center;
      padding-right: 0;
      padding-bottom: 8px;
      padding-top: 8px;
    }
    &:last-child {
      border-right: 0;
      margin-right: 0;
      padding-right: 0;
      @include response(1200px) {
        border-bottom: 0;
      }
    }
    &--tel-mobile {
      display: none;
      @include response(1200px) {
        display: block;
        padding: 0;
        margin-right: 16px;
        margin-left: auto;
        border: 0;
      }
    }
  }
  &__info-cell-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #7f838e;
    @include response(1200px) {
      justify-content: center;
      .header__info-cell--tel-mobile & {
        justify-content: flex-start;
      }
    }
    svg {
      flex: 0 0 auto;
      margin-right: 5px;
    }
  }
  &__info-cell-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 155%;
    color: #fff;
  }
  &__info-tel {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;
    }
    a {
      display: block;
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #fff;
      transition: 0.3s ease-in-out;
      @include desktop-hover() {
        color: #f3c934;
      }
    }
  }
  &__btn {
    flex: 0 0 auto;
    margin-left: 40px;
    @include response(1200px) {
      width: 100%;
      margin-left: 0;
    }
  }
  &__bottom {
    position: relative;
    background: #fff;
    @include response(1200px) {
      display: none;
    }
  }
  &__nav {
    position: relative;
    max-width: 1420px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include response(1200px) {
      margin-bottom: 50px;
      flex: 1 1 auto;
    }
  }
  &__nav-list {
    position: relative;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    @include response(1200px) {
      display: block;
      padding: 0;
    }
    > li {
      width: 100%;
      margin-left: 20px;
      margin-right: 20px;
      position: relative;
      @include response(1200px) {
        margin-left: 0;
        margin-right: 0;
        border-bottom: 1px solid rgba(#7f838e, 0.2);
        margin-bottom: 4px;
        &:last-child {
          border-bottom: 0;
          margin-bottom: 0;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        right: -20px;
        background: rgba(#7f838e, 0.2);
      }
      &:last-child {
        &::before {
          display: none;
        }
      }
      &.menu-item-has-children {
        @include response(1200px) {
          &.active {
            border-bottom-color: transparent;
            > ul {
              display: block;
            }
            > a,
            span {
              color: #f3c934;
              &::after {
                border-top-color: #f3c934;
                transform: scaleY(-1);
              }
            }
          }
        }
        @include desktop-hover() {
          > ul {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
          > a,
          span {
            background: #eaf0f7;
            color: #0d4ee3;
            &::after {
              border-top-color: #0d4ee3;
              transform: scaleY(-1);
            }
          }
        }
        > a,
        span {
          &::after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid rgba(127, 131, 142, 0.4);
            flex: 0 0 auto;
            margin-left: 7px;
            transition: 0.3s ease-in-out;
          }
        }
      }
      > a,
      span {
        position: relative;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 135%;
        color: #000c28;
        transition: 0.3s ease-in-out;
        @include response(1200px) {
          color: #fff;
          font-size: 20px;
          padding-top: 16px;
          padding-bottom: 16px;
        }
        @include desktop-hover() {
          background: #eaf0f7;
          color: #0d4ee3;
        }
        > img {
          flex: 0 0 16px;
          margin-right: 10px;
          @include response(1200px) {
            display: none;
          }
        }
      }
    }
    ul {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      border: 1px solid #cccdd2;
      box-shadow: 5px 10px 40px rgba(0, 12, 40, 0.1);
      border-radius: 5px;
      padding: 4px 0;
      margin: 2px 0 0;
      list-style: none;
      opacity: 0;
      transform: translateY(10px);
      visibility: hidden;
      transition: 0.2s ease-in-out;
      @include response(1200px) {
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: none;
        background: rgba(0, 12, 40, 0.2);
        border: 1px solid rgba(127, 131, 142, 0.2);
        display: none;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        bottom: 100%;
      }
      li {
        position: relative;
        border-bottom: 1px solid rgba(#7f838e, 0.2);
        padding-top: 6px;
        padding-bottom: 6px;
        &:last-child {
          border-bottom: 0;
        }
      }
      a {
        display: block;
        text-decoration: none;
        position: relative;
        padding: 10px 40px 10px 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 135%;
        color: #000c28;
        transition: 0.3s ease-in-out;
        @include response(1200px) {
          color: #fff;
          padding: 16px;
          text-align: center;
        }
        @include desktop-hover() {
          background: #eaf0f7;
          color: #0d4ee3;
          &::before,
          &::after {
            opacity: 1;
          }
        }
        &::before {
          content: "";
          position: absolute;
          width: 18px;
          height: 2px;
          background: #0d4ee3;
          top: 50%;
          margin-top: -1px;
          right: 15px;
          opacity: 0;
          transition: 0.3s ease-in-out;
        }
        &::after {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-bottom: 2px solid #0d4ee3;
          border-right: 2px solid #0d4ee3;
          transform: rotate(-45deg);
          right: 15px;
          top: 50%;
          margin-top: -4px;
          opacity: 0;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  &__mobile-menu {
    display: none;
    @include response(1200px) {
      display: block;
      width: 24px;
      height: 24px;
      position: relative;
      svg {
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s ease-in-out;
      }
    }
  }
  &__mobile-menu-open {
    .header.active-menu & {
      opacity: 0;
      transform: scale(0);
    }
  }
  &__mobile-menu-close {
    opacity: 0;
    transform: scale(0);
    .header.active-menu & {
      opacity: 1;
      transform: scale(1);
    }
  }
  &__mobile {
    display: none;
    @include response(1200px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 78px;
      left: 0;
      right: 0;
      bottom: 0;
      background: #011955;
      overflow-y: auto;
      padding: 16px;
      opacity: 0;
      visibility: hidden;
      transform: scaleY(0);
      transform-origin: 50% 0;
      transition: 0.3s ease-in-out;
      .header.active-menu & {
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
      }
    }
  }
}
