.informed-decisions {
  position: relative;
  margin-bottom: 20px;
  padding: 30px;
  background: #fff;
  border: 1px solid #cccdd2;
  box-shadow: 5px 10px 40px rgba(0, 12, 40, 0.1);
  border-radius: 5px;
  @include response(1200px) {
    padding: 32px 16px;
  }
  &__head {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccdd2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include response(1200px) {
      display: block;
    }
  }
  &__head-left {
    position: relative;
    max-width: 268px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    @include response(1200px) {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 16px;
    }
    &--full {
      max-width: none;
      margin-right: 0;
    }
  }
  &__head-img {
    position: relative;
    flex: 0 0 48px;
    margin-right: 20px;
  }
  &__head-title {
    font-size: 18px;
    line-height: 135%;
    font-weight: 600;
    color: #000c28;
  }
  &__head-right {
    position: relative;
    flex: 0 0 auto;
  }
  &__list {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: -30px;
    @include response(1200px) {
      margin-left: -16px;
    }
  }
  &__item {
    position: relative;
    flex: 0 0 42px;
    margin-left: 30px;
    @include response(1200px) {
      margin-left: 16px;
      flex: 0 0 calc(16.666% - 16px);
    }
    @include desktop-hover() {
      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }
    &::before {
      content: "";
      position: absolute;
      background: #f3c934;
      width: 62px;
      height: 62px;
      border-radius: 50%;
      top: -10px;
      left: -10px;
      opacity: 0;
      transform: scale(0);
      transition: 0.3s ease-in-out;
    }
    img {
      position: relative;
    }
  }
  &__text {
    position: relative;
  }
}
