.label {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 155%;
  color: #011955;
  margin: 0 0 5px;
  span {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-bottom: 6px;
    &::before {
      content: "";
      position: absolute;
      background: #cccdd2;
      opacity: 0.5;
      border-radius: 1px;
      bottom: 0;
      left: 0;
      width: calc(100% - 25px);
      height: 3px;
    }
    &::after {
      content: "";
      position: absolute;
      background: #cccdd2;
      border-radius: 1px;
      bottom: 0;
      right: 0;
      width: 20px;
      height: 3px;
    }
  }
  &--white {
    color: #eaf0f7;
    span {
      &::before {
        background: #7f838e;
      }
      &::after {
        background: #f3c934;
      }
    }
  }
  &--center {
    text-align: center;
  }
}
