.questions {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  @include response(1200px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  &__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    @include response(1200px) {
      display: block;
    }
  }
  &__left {
    position: relative;
    flex: 0 0 380px;
    max-width: 380px;
    width: 100%;
    @include response(1200px) {
      max-width: 100%;
    }
  }
  &__label {
    position: relative;
  }
  &__title {
    position: relative;
  }
  &__right {
    position: relative;
    flex: 0 0 780px;
    max-width: 780px;
    width: 100%;
    @include response(1200px) {
      max-width: 100%;
    }
  }
  &__list {
    position: relative;
  }
  &__item {
    position: relative;
    background: #fff;
    border: 1px solid rgba(127, 131, 142, 0.2);
    border-radius: 5px;
    margin-bottom: 13px;
    transition: 0.3s ease-in-out;
    &.active {
      background: #eaf0f7;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__head {
    position: relative;
    padding: 15px 50px 15px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    @include response(1200px) {
      padding: 16px 40px 16px 16px;
    }
  }
  &__icon {
    position: relative;
    flex: 0 0 auto;
    margin-right: 20px;
    .questions__item.active & {
      svg {
        fill: #000c28;
      }
    }
    svg {
      fill: #7f838e;
      transition: 0.3s ease-in-out;
    }
  }
  &__item-title {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 135%;
    color: #7f838e;
    transition: 0.3s ease-in-out;
    @include response(1200px) {
      font-size: 16px;
    }
    .questions__item.active & {
      color: #000c28;
    }
  }
  &__item-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 20px;
    margin-top: -12px;
    .questions__item.active & {
      &::after {
        transform: rotate(-90deg);
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 2px;
      background: #000c28;
      top: 50%;
      left: 50%;
      margin-left: -6px;
      margin-top: -1px;
    }
    &::after {
      content: "";
      position: absolute;
      height: 12px;
      width: 2px;
      background: #000c28;
      top: 50%;
      left: 50%;
      margin-top: -6px;
      margin-left: -1px;
      transition: 0.3s ease-in-out;
    }
  }
  &__item-body {
    position: relative;
    padding: 20px;
    display: none;
    @include response(1200px) {
      padding: 16px;
    }
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      left: 20px;
      right: 20px;
      top: 0;
      background: rgba(127, 131, 142, 0.2);
    }
  }
}
