.rate {
  position: relative;
  margin-right: -5px;
  &__default {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__active {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item-holder {
    flex: 0 0 22px;
    width: 22px;
    height: 21px;
    display: flex;
    margin-left: 1px;
    margin-right: 1px;
    overflow: hidden;
    position: relative;
  }
  &__item-holder-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: none;
    &.active {
      display: flex;
    }
    svg {
      flex: 0 0 auto;
    }
  }
  &__item {
    margin-left: 1px;
    margin-right: 1px;
    fill: #cccdd2;
    .rate__item-holder-inner & {
      fill: #f3c934;
    }
    .rate__item-holder & {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .testimonials__slider-item--blue & {
    .rate__item {
      fill: #cccdd2;
    }
    .rate__item-holder-inner .rate__item {
      fill: #02be91;
    }
  }
}

.star-rating {
  position: relative;
  display: flex;
  &__item {
    flex: 0 0 auto;
    margin-right: 2px;
    cursor: pointer;
    @include desktop-hover() {
      svg {
        fill: rgba(154, 159, 171, 0.4);
      }
    }
    svg {
      fill: rgba(154, 159, 171, 0.2);
      transition: 0.3s ease-in-out;
    }
    &.active {
      svg {
        fill: #02be91;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__value {
    display: none;
  }
}
