.table-scroll {
  position: relative;
  margin: 10px 0 25px;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  @include response(1200px) {
    margin-bottom: 20px;
  }
  @include response(767px) {
    margin-left: -20px;
    margin-right: -20px;
    padding: 1px 20px;
    overflow-x: auto;
    display: flex;
    &::after {
      content: "";
      display: inline-block;
      flex: 0 0 1px;
      height: 1px;
      margin-left: 1px;
    }
    table {
      flex: 0 0 440px;
      width: 440px !important;
    }
  }
}