.testimonials {
  position: relative;
  padding-top: 100px;
  padding-bottom: 133px;
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__head {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__head-left {
    position: relative;
    flex: 0 0 580px;
    max-width: 580px;
    width: 100%;
  }
  &__label {
    position: relative;
  }
  &__title {
    position: relative;
  }
  &__text {
    position: relative;
  }
  &__head-right {
    position: relative;
    flex: 0 0 680px;
    max-width: 680px;
    width: 100%;
  }
  &__triggers {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: -20px;
  }
  &__triggers-item {
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    flex: 0 0 auto;
    background: #fff;
    border: 1px solid #cccdd2;
    border-radius: 5px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &--green {
      background: #02be91;
      border-color: #02be91;
      .testimonials__triggers-item-value,
      .testimonials__triggers-item-title {
        color: #fff;
      }
    }
  }
  &__triggers-item-title {
    position: relative;
    font-weight: 600;
    font-size: 42px;
    line-height: 135%;
    color: #5d7096;
    display: flex;
    align-items: center;
    svg {
      flex: 0 0 auto;
      margin-right: 5px;
    }
  }
  &__triggers-item-value {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 155%;
    color: #7f838e;
  }
  &__slider {
    max-width: 1260px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .slick-list {
      overflow: visible;
    }
    .slick-slide {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  &__slider-item {
    position: relative;
    vertical-align: top;
    background: #fff;
    border: 1px solid #cccdd2;
    box-shadow: 5px 10px 40px rgba(0, 12, 40, 0.1);
    border-radius: 5px;
    padding: 30px;
    &--new {
      background: #eaf0f7;
    }
  }
  &__slider-item-name {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 24px;
    line-height: 135%;
    text-align: center;
    color: #000c28;
    margin-bottom: 10px;
  }
  &__slider-item-date {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 155%;
    text-align: center;
    color: #7f838e;
    margin-bottom: 10px;
  }
  &__slider-item-text-holder {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
  }
  &__slider-item-quotes {
    position: absolute;
    opacity: 0.4;
    &--top {
      top: 0;
      left: 0;
    }
    &--bottom {
      right: 0;
      bottom: 0;
    }
  }
  &__slider-item-text {
    text-align: center;
    height: 125px;
    overflow: hidden;
    -webkit-line-clamp: 5;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  &__slider-item-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 32px;
  }
  &__slider-item-new {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000c28;
    padding: 5px 10px;
    background: #f3c934;
    border-radius: 5px;
    flex: 0 0 auto;
    margin-left: 10px;
  }
}
