.text-content {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #011955;
  &--center {
    text-align: center;
  }
  p {
    margin: 10px 0 25px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  ol {
    list-style: none;
    padding: 0;
    counter-reset: myCounter;
    margin: 10px 0 25px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    li {
      margin-bottom: 15px;
      position: relative;
      padding-left: 42px;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        counter-increment: myCounter;
        content: counter(myCounter) ".";
        position: absolute;
        left: 14px;
        top: 0;
        color: #0d4ee3;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 25px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    li {
      margin-bottom: 20px;
      position: relative;
      padding-left: 42px;
      &::before {
        content: "";
        position: absolute;
        left: 15px;
        top: 6px;
        width: 12px;
        height: 12px;
        border: 2px solid #0d4ee3;
        border-radius: 50%;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  iframe {
    border: 0;
    max-width: 100%;
    vertical-align: top;
    margin: 0 0 25px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    @include response(767px) {
      width: 100%;
      height: 300px;
    }
  }
  h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 135%;
    color: #011a28;
    margin: 0 0 25px;
    @include response(1200px) {
      font-size: 34px;
      margin-bottom: 20px;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  h2 {
    font-weight: 600;
    font-size: 34px;
    line-height: 135%;
    margin: 0 0 25px;
    @include response(1200px) {
      font-size: 28px;
      margin-bottom: 20px;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 135%;
    margin: 0 0 25px;
    @include response(1200px) {
      font-size: 24px;
      margin-bottom: 20px;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 135%;
    margin: 0 0 25px;
    @include response(1200px) {
      font-size: 20px;
      margin-bottom: 20px;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    margin: 0 0 25px;
    &:first-child {
      margin-top: 0;
    }
  }
  h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 135%;
    margin: 0 0 25px;
    &:first-child {
      margin-top: 0;
    }
  }
  > img {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 20px;
    border-radius: 5px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  hr {
    border: 0;
    border-bottom: 1px solid #cccdd2;
  }
  a {
    color: #0d4ee3;
    @include desktop-hover() {
      text-decoration: none;
    }
  }
  table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0;
    border: 1px solid #cccdd2;
    overflow: hidden;
    border-radius: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    thead {
      background: #eaf0f7;
    }
    tr {
      &:last-child {
        td {
          border-bottom: 0;
        }
      }
    }
    td {
      font-weight: 600;
      font-size: 16px;
      line-height: 155%;
      border-right: 1px solid #cccdd2;
      border-bottom: 1px solid #cccdd2;
      padding: 15px 20px;
      &:last-child {
        border-right: 0;
      }
    }
  }
}

.img-description {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  &__box {
    position: relative;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eaf0f7;
    border: 1px solid #cccdd2;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 155%;
    img {
      flex: 0 0 auto;
      margin: 0 10px 0 0;
    }
  }
}

.providers-content {
  position: relative;
  padding-top: 20px;
  border-top: 1px solid #cccdd2;
  margin-bottom: 30px;
  @include response(1200px) {
    overflow-x: auto;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -1px;
      width: 16px;
      height: 1px;
      background: #fff;
    }
    img {
      width: 778px;
      max-width: 778px;
    }
  }
}

.content-info {
  position: relative;
  padding: 30px;
  background: #fff;
  border: 1px solid #cccdd2;
  box-shadow: 5px 10px 40px rgba(0, 12, 40, 0.1);
  border-radius: 5px;
  margin-bottom: 30px;
  @include response(1200px) {
    padding: 32px 16px;
  }
  &__head {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @include response(1200px) {
      display: block;
    }
    img {
      margin: 0 20px 0 0;
      flex: 0 0 48px;
      @include response(1200px) {
        margin: 0 0 16px;
      }
    }
  }
  &__title {
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    color: #011955;
    span {
      color: #0d4ee3;
    }
  }
}

.list-checked {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 10px 0 20px;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 155%;
    color: #000c28;
    &:last-child {
      margin-bottom: 0;
    }
    span {
      flex: 0 0 22px;
      max-width: 22px;
      width: 100%;
      height: 22px;
      margin-top: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #02be91;
      margin-right: 15px;
      background: #fff;
      border-radius: 50%;
    }
  }
}

.games {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 -25px 20px;
  display: flex;
  padding-top: 20px;
  @include response(767px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      background: #fff;
    }
  }
  &::before {
    content: "";
    position: absolute;
    background: #cccdd2;
    height: 1px;
    left: 25px;
    right: 25px;
    top: 0;
    @include response(767px) {
      left: 0;
      right: 0;
    }
  }
  li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #cccdd2;
    padding-left: 16px;
    padding-right: 16px;
    @include response(767px) {
      flex: 0 0 33.333%;
      max-width: 33.333%;
      margin-bottom: 16px;
    }
    &:last-child {
      border-right: 0;
    }
  }
}

.img-description {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -15px;
  margin-bottom: 20px;
  span {
    position: relative;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 155%;
    color: #011955;
    background: #eaf0f7;
    border-radius: 5px;
  }
}

.note {
  position: relative;
  padding-left: 23px;
  font-style: italic;
  font-size: 16px;
  line-height: 155%;
  color: #7f838e;
  margin-bottom: 20px;
  &::before {
    content: "";
    position: absolute;
    width: 3px;
    background: #cccdd2;
    bottom: 0;
    left: 0;
    height: calc(100% - 25px);
    border-radius: 5px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 3px;
    background: #0d4ee3;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 5px;
  }
}

ul.list-1 {
  position: relative;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  li {
    display: flex;
    align-items: flex-start;
    padding-left: 0;
    svg {
      flex: 0 0 auto;
      margin-right: 10px;
    }
    p {
      margin: 0;
    }
    &::before {
      display: none;
    }
  }
}

table.table-2 {
  thead {
    background: #011955;
    td {
      color: #fff;
      &:first-child {
        background: #000c28;
      }
    }
  }
  td {
    &:first-child {
      background: #eaf0f7;
    }
  }
}
