.text-content {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #011955;
  p {
    margin: 10px 0 25px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  // ol {
  //   list-style: none;
  //   padding: 0;
  //   counter-reset: myCounter;
  //   margin: 10px 0 25px;
  //   &:first-child {
  //     margin-top: 0;
  //   }
  //   &:last-child {
  //     margin-bottom: 0;
  //   }
  //   li {
  //     margin-bottom: 15px;
  //     position: relative;
  //     padding-left: 35px;
  //     &:last-child {
  //       margin-bottom: 0;
  //     }
  //     &::before {
  //       counter-increment: myCounter;
  //       content: counter(myCounter) " _";
  //       position: absolute;
  //       left: 0;
  //       top: 0;
  //     }
  //   }
  // }
  // ul {
  //   list-style: none;
  //   padding: 0;
  //   margin: 10px 0 25px;
  //   &:first-child {
  //     margin-top: 0;
  //   }
  //   &:last-child {
  //     margin-bottom: 0;
  //   }
  //   li {
  //     margin-bottom: 10px;
  //     position: relative;
  //     padding-left: 35px;
  //     &::before {
  //       content: "";
  //       position: absolute;
  //       left: 4px;
  //       top: 12px;
  //       width: 11px;
  //       height: 2px;
  //       background: #000;
  //       opacity: 0.2;
  //     }
  //     &::after {
  //       content: "";
  //       position: absolute;
  //       left: 8px;
  //       top: 9px;
  //       width: 8px;
  //       height: 8px;
  //       border-bottom: 2px solid #000;
  //       border-right: 2px solid #000;
  //       transform: rotate(-45deg);
  //     }
  //     &:last-child {
  //       margin-bottom: 0;
  //     }
  //   }
  // }
  iframe {
    border: 0;
    max-width: 100%;
    vertical-align: top;
    margin: 0 0 25px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    @include response(767px) {
      width: 100%;
      height: 300px;
    }
  }
  h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 135%;
    color: #011a28;
    margin: 0 0 25px;
    @include response(1200px) {
      font-size: 34px;
      margin-bottom: 20px;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  h2 {
    font-weight: 600;
    font-size: 34px;
    line-height: 135%;
    margin: 0 0 25px;
    @include response(1200px) {
      font-size: 28px;
      margin-bottom: 20px;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 135%;
    margin: 0 0 25px;
    @include response(1200px) {
      font-size: 24px;
      margin-bottom: 20px;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 135%;
    margin: 0 0 25px;
    @include response(1200px) {
      font-size: 20px;
      margin-bottom: 20px;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    margin: 0 0 25px;
    &:first-child {
      margin-top: 0;
    }
  }
  h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 135%;
    margin: 0 0 25px;
    &:first-child {
      margin-top: 0;
    }
  }
  > img {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 20px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  hr {
    border: 0;
    border-bottom: 1px solid #cccdd2;
  }
  // a {
  //   color: #000;
  //   @include desktop-hover() {
  //     text-decoration: none;
  //   }
  // }
  // table {
  //   margin: 0 0 25px;
  //   border-collapse: collapse;
  //   &:last-child {
  //     margin-bottom: 0;
  //   }
  //   thead {
  //     tr {
  //       td {
  //       }
  //     }
  //   }
  //   tr {
  //   }
  //   td {
  //   }
  // }
}

.img-description {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  &__box {
    position: relative;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eaf0f7;
    border: 1px solid #cccdd2;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 155%;
    img {
      flex: 0 0 auto;
      margin: 0 10px 0 0;
    }
  }
}
