<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="blog">
        <div class="blog__head">
          <picture class="blog__head-bg" >
            <source srcset="data/blog-mobile.jpg" media="(max-width: 1200px)">
            <img src="data/blog.jpg" width="1920" height="340" alt="blog">
          </picture>
          <div class="container">
            <div class="blog__head-label label label--white"><span>LATEST SPORTS BETTING NEWS</span></div>
            <h1 class="blog__title title">Sportsbook Blog</h1>
          </div>
        </div>
        <div class="container">
          <div class="blog__body">
            <div class="blog__list">
              <a href="#" class="blog__item">
                <div class="blog__item-img">
                  <img src="data/blog-item.jpg" width="420" height="220" alt="blog">
                </div>
                <div class="blog__item-body">
                  <div class="blog__item-info">
                    <div class="blog__item-category">
                      <div class="blog__item-category-title">Casino</div>
                      <div class="blog__item-category-list">
                        <div class="blog__item-category-item">
                          <img src="data/diamond.svg" width="25" height="25" alt="diamond">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/ball.svg" width="25" height="25" alt="ball">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/fire.svg" width="25" height="25" alt="fire">
                        </div>
                      </div>
                    </div>
                    <div class="blog__item-date">Jun 18, 2022</div>
                  </div>
                  <div class="blog__item-title">Magic vs Lakers Prediction, Game Preview, Live Stream, Odds & Picks</div>
                </div>
              </a>
              <a href="#" class="blog__item">
                <div class="blog__item-img">
                  <img src="data/blog-item.jpg" width="420" height="220" alt="blog">
                </div>
                <div class="blog__item-body">
                  <div class="blog__item-info">
                    <div class="blog__item-category">
                      <div class="blog__item-category-title">Casino</div>
                      <div class="blog__item-category-list">
                        <div class="blog__item-category-item">
                          <img src="data/diamond.svg" width="25" height="25" alt="diamond">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/ball.svg" width="25" height="25" alt="ball">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/fire.svg" width="25" height="25" alt="fire">
                        </div>
                      </div>
                    </div>
                    <div class="blog__item-date">Jun 18, 2022</div>
                  </div>
                  <div class="blog__item-title">Magic vs Lakers Prediction, Game Preview, Live Stream, Odds & Picks</div>
                </div>
              </a>
              <a href="#" class="blog__item">
                <div class="blog__item-img">
                  <img src="data/blog-item.jpg" width="420" height="220" alt="blog">
                </div>
                <div class="blog__item-body">
                  <div class="blog__item-info">
                    <div class="blog__item-category">
                      <div class="blog__item-category-title">Casino</div>
                      <div class="blog__item-category-list">
                        <div class="blog__item-category-item">
                          <img src="data/diamond.svg" width="25" height="25" alt="diamond">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/ball.svg" width="25" height="25" alt="ball">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/fire.svg" width="25" height="25" alt="fire">
                        </div>
                      </div>
                    </div>
                    <div class="blog__item-date">Jun 18, 2022</div>
                  </div>
                  <div class="blog__item-title">Magic vs Lakers Prediction, Game Preview, Live Stream, Odds & Picks</div>
                </div>
              </a>
              <a href="#" class="blog__item">
                <div class="blog__item-img">
                  <img src="data/blog-item.jpg" width="420" height="220" alt="blog">
                </div>
                <div class="blog__item-body">
                  <div class="blog__item-info">
                    <div class="blog__item-category">
                      <div class="blog__item-category-title">Casino</div>
                      <div class="blog__item-category-list">
                        <div class="blog__item-category-item">
                          <img src="data/diamond.svg" width="25" height="25" alt="diamond">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/ball.svg" width="25" height="25" alt="ball">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/fire.svg" width="25" height="25" alt="fire">
                        </div>
                      </div>
                    </div>
                    <div class="blog__item-date">Jun 18, 2022</div>
                  </div>
                  <div class="blog__item-title">Magic vs Lakers Prediction, Game Preview, Live Stream, Odds & Picks</div>
                </div>
              </a>
              <a href="#" class="blog__item">
                <div class="blog__item-img">
                  <img src="data/blog-item.jpg" width="420" height="220" alt="blog">
                </div>
                <div class="blog__item-body">
                  <div class="blog__item-info">
                    <div class="blog__item-category">
                      <div class="blog__item-category-title">Casino</div>
                      <div class="blog__item-category-list">
                        <div class="blog__item-category-item">
                          <img src="data/diamond.svg" width="25" height="25" alt="diamond">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/ball.svg" width="25" height="25" alt="ball">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/fire.svg" width="25" height="25" alt="fire">
                        </div>
                      </div>
                    </div>
                    <div class="blog__item-date">Jun 18, 2022</div>
                  </div>
                  <div class="blog__item-title">Magic vs Lakers Prediction, Game Preview, Live Stream, Odds & Picks</div>
                </div>
              </a>
              <a href="#" class="blog__item">
                <div class="blog__item-img">
                  <img src="data/blog-item.jpg" width="420" height="220" alt="blog">
                </div>
                <div class="blog__item-body">
                  <div class="blog__item-info">
                    <div class="blog__item-category">
                      <div class="blog__item-category-title">Casino</div>
                      <div class="blog__item-category-list">
                        <div class="blog__item-category-item">
                          <img src="data/diamond.svg" width="25" height="25" alt="diamond">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/ball.svg" width="25" height="25" alt="ball">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/fire.svg" width="25" height="25" alt="fire">
                        </div>
                      </div>
                    </div>
                    <div class="blog__item-date">Jun 18, 2022</div>
                  </div>
                  <div class="blog__item-title">Magic vs Lakers Prediction, Game Preview, Live Stream, Odds & Picks</div>
                </div>
              </a>
              <a href="#" class="blog__item">
                <div class="blog__item-img">
                  <img src="data/blog-item.jpg" width="420" height="220" alt="blog">
                </div>
                <div class="blog__item-body">
                  <div class="blog__item-info">
                    <div class="blog__item-category">
                      <div class="blog__item-category-title">Casino</div>
                      <div class="blog__item-category-list">
                        <div class="blog__item-category-item">
                          <img src="data/diamond.svg" width="25" height="25" alt="diamond">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/ball.svg" width="25" height="25" alt="ball">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/fire.svg" width="25" height="25" alt="fire">
                        </div>
                      </div>
                    </div>
                    <div class="blog__item-date">Jun 18, 2022</div>
                  </div>
                  <div class="blog__item-title">Magic vs Lakers Prediction, Game Preview, Live Stream, Odds & Picks</div>
                </div>
              </a>
              <a href="#" class="blog__item">
                <div class="blog__item-img">
                  <img src="data/blog-item.jpg" width="420" height="220" alt="blog">
                </div>
                <div class="blog__item-body">
                  <div class="blog__item-info">
                    <div class="blog__item-category">
                      <div class="blog__item-category-title">Casino</div>
                      <div class="blog__item-category-list">
                        <div class="blog__item-category-item">
                          <img src="data/diamond.svg" width="25" height="25" alt="diamond">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/ball.svg" width="25" height="25" alt="ball">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/fire.svg" width="25" height="25" alt="fire">
                        </div>
                      </div>
                    </div>
                    <div class="blog__item-date">Jun 18, 2022</div>
                  </div>
                  <div class="blog__item-title">Magic vs Lakers Prediction, Game Preview, Live Stream, Odds & Picks</div>
                </div>
              </a>
              <a href="#" class="blog__item">
                <div class="blog__item-img">
                  <img src="data/blog-item.jpg" width="420" height="220" alt="blog">
                </div>
                <div class="blog__item-body">
                  <div class="blog__item-info">
                    <div class="blog__item-category">
                      <div class="blog__item-category-title">Casino</div>
                      <div class="blog__item-category-list">
                        <div class="blog__item-category-item">
                          <img src="data/diamond.svg" width="25" height="25" alt="diamond">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/ball.svg" width="25" height="25" alt="ball">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/fire.svg" width="25" height="25" alt="fire">
                        </div>
                      </div>
                    </div>
                    <div class="blog__item-date">Jun 18, 2022</div>
                  </div>
                  <div class="blog__item-title">Magic vs Lakers Prediction, Game Preview, Live Stream, Odds & Picks</div>
                </div>
              </a>
              <a href="#" class="blog__item">
                <div class="blog__item-img">
                  <img src="data/blog-item.jpg" width="420" height="220" alt="blog">
                </div>
                <div class="blog__item-body">
                  <div class="blog__item-info">
                    <div class="blog__item-category">
                      <div class="blog__item-category-title">Casino</div>
                      <div class="blog__item-category-list">
                        <div class="blog__item-category-item">
                          <img src="data/diamond.svg" width="25" height="25" alt="diamond">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/ball.svg" width="25" height="25" alt="ball">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/fire.svg" width="25" height="25" alt="fire">
                        </div>
                      </div>
                    </div>
                    <div class="blog__item-date">Jun 18, 2022</div>
                  </div>
                  <div class="blog__item-title">Magic vs Lakers Prediction, Game Preview, Live Stream, Odds & Picks</div>
                </div>
              </a>
              <a href="#" class="blog__item">
                <div class="blog__item-img">
                  <img src="data/blog-item.jpg" width="420" height="220" alt="blog">
                </div>
                <div class="blog__item-body">
                  <div class="blog__item-info">
                    <div class="blog__item-category">
                      <div class="blog__item-category-title">Casino</div>
                      <div class="blog__item-category-list">
                        <div class="blog__item-category-item">
                          <img src="data/diamond.svg" width="25" height="25" alt="diamond">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/ball.svg" width="25" height="25" alt="ball">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/fire.svg" width="25" height="25" alt="fire">
                        </div>
                      </div>
                    </div>
                    <div class="blog__item-date">Jun 18, 2022</div>
                  </div>
                  <div class="blog__item-title">Magic vs Lakers Prediction, Game Preview, Live Stream, Odds & Picks</div>
                </div>
              </a>
              <a href="#" class="blog__item">
                <div class="blog__item-img">
                  <img src="data/blog-item.jpg" width="420" height="220" alt="blog">
                </div>
                <div class="blog__item-body">
                  <div class="blog__item-info">
                    <div class="blog__item-category">
                      <div class="blog__item-category-title">Casino</div>
                      <div class="blog__item-category-list">
                        <div class="blog__item-category-item">
                          <img src="data/diamond.svg" width="25" height="25" alt="diamond">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/ball.svg" width="25" height="25" alt="ball">
                        </div>
                        <div class="blog__item-category-item">
                          <img src="data/fire.svg" width="25" height="25" alt="fire">
                        </div>
                      </div>
                    </div>
                    <div class="blog__item-date">Jun 18, 2022</div>
                  </div>
                  <div class="blog__item-title">Magic vs Lakers Prediction, Game Preview, Live Stream, Odds & Picks</div>
                </div>
              </a>
            </div>
            <div class="pagination-box">
              <div class="pagination-counter">Page 2 out of 13</div>
              <ul class="pagination">
                <li><a href="#">1</a></li>
                <li><span>2</span></li>
                <li><a href="#">3</a></li>
                <li class="pagination__dots"><span>...</span></li>
                <li><a href="#">12</a></li>
                <li><a href="#">13</a></li>
                <li>
                  <a href="#">
                    <svg width="19" height="12" viewBox="0 0 19 12" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.157 7.5898L4.5965 11.0293L5.657 9.9688L2.4605 6.77155L18.5 6.74905L18.5 5.24905L2.4155 5.27155L5.65775 2.0293L4.59725 0.968796L1.157 4.4083C0.736471 4.83091 0.500395 5.40285 0.500395 5.99905C0.500395 6.59524 0.736471 7.16718 1.157 7.5898Z" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg width="19" height="12" viewBox="0 0 19 12" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17.843 7.5898L14.4035 11.0293L13.343 9.9688L16.5395 6.77155L0.5 6.74905L0.499999 5.24905L16.5845 5.27155L13.3422 2.0293L14.4027 0.968796L17.843 4.4083C18.2635 4.83091 18.4996 5.40285 18.4996 5.99905C18.4996 6.59524 18.2635 7.16718 17.843 7.5898Z" />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>