<footer class="footer">
  <img class="footer__bg" src="data/footer-background.png" width="1920" height="550" alt="footer-background">
  <div class="footer__container">
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="menu-item-has-children">
          <span>Sportsbook</span>
          <ul>
            <li><a href="#">Online Betting</a></li>
            <li><a href="#">Football Betting</a></li>
            <li><a href="#">Cricket Betting</a></li>
            <li><a href="#">Horse Racing Betting</a></li>
            <li><a href="#">NBA Betting</a></li>
            <li><a href="#">Esports Betting</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <span>Casino</span>
          <ul>
            <li><a href="#">Online Casino</a></li>
            <li><a href="#">Live Dealers</a></li>
            <li><a href="#">Mobile Casino</a></li>
            <li><a href="#">Online Slots</a></li>
            <li><a href="#">Baccarat</a></li>
            <li><a href="#">Roulette</a></li>
            <li><a href="#">Poker</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <span>Features</span>
          <ul>
            <li><a href="#">Bonuses and Promotions</a></li>
            <li><a href="#">Instant Withdrawals</a></li>
            <li><a href="#">Free SGD Credits</a></li>
            <li><a href="#">Guides</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <span>Quick Links</span>
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Phone</a></li>
            <li><a href="#">Responsible Gambling</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">QQBET168 Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="footer__logo-box">
      <div class="footer__logo">
        <img src="data/logo-white.svg" width="168" height="40" alt="logo">
        <a href="#" class="footer__logo-link"></a>
      </div>
      <div class="footer__logo-text">Your Trusted Partner for <span>Online Betting</span></div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-title">© 1994–2023</span> <span>QQBET168</span>.</div>
    <div class="footer__bottom-text">All Rights Reserved The Brand and Logo are trademarks of QQBET168</div>
  </div>
</footer>